.App {
	text-align: center;
	height: 100vh;
	display: flex;
	padding: 1vh 2vh;
	align-items: center;
	flex-direction: column;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
	font-weight: bold;
}

.App-link {
	color: #61dafb;
}

.card {
	background-color: white;
	margin: 1vh;
	padding: 5px 5px;
	border-radius: 5px;
	width: 100%;
	max-width: 650px;
}
#session-break-block {
	display: flex;
	flex-direction: row;
	align-content: center;
}

.session-break-block {
	width: 50%;
}

.button-block {
	width: 40%;
	align-self: center;
}
#title {
	margin: 0 0 4px 0;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.login-button {
	position: absolute;
	right: 5%;
	color: #0dcaf0;
	font-size: 25px;
}
.login-button:hover {
	cursor: pointer;
	color: #000000;
}

#main-btn-block {
	align-self: center;
}
